pandas==1.2.3 
scikit-learn==1.2.2
scipy==1.6.2
seaborn==0.12.1
seaborn-base==0.12.1
inflection==0.5.1  
ipykernel==6.19.2
ipython==8.12.0
matplotlib==3.4.0
matplotlib-base==3.6.2
matplotlib-inline==0.1.6
numpy==1.22.0
numpy-base==1.23.5
umap-learn==0.5.3 
python-dotenv==1.0.0
sqlalchemy==1.4.3
sqlite==3.41.1
setuptools==65.6.3 
